body {
  background-color: #1a1a1a;
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
}
nav {
  margin-top: 0px;
}

.game {
  margin: 0 auto;
  text-align: center;
}

.initial-level span {
  padding-right: 1%;
}

.controls {
  margin: 1%;
}

.auto-play {
  float: right;
}
